<%= render "shared/header" %>

<div class="chat-header">
  <div class="room-title">
    <%= link_to @room.name, rooms_path, class:"room-root" %>
  </div>
</div>

<div class="message-wrapper">
  <div class="message-contents" id="message_area">
    <% @messages.each do |message| %>
      <%if current_user.id == message.user_id%>
        <div class="left">
          <div class="messages-current_user">
            <%= render partial: "shared/message", locals: { message: message } %>
          </div>
        </div><br>
      <% else %>
        <div class="right">
          <div class="messages-another_user">
            <%= render partial: "shared/message", locals: { message: message } %>
          </div>
        </div><br>
      <% end %>
    <% end %>
    <div id="image-list"></div>
  </div>
</div>

<div class="form-area">
  <%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
    <div class="form-input">
      <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
      <label class="form-image">
        <span class="image-file">Image</span>
        <%= f.file_field :images, name: 'message[images][]', class: 'hidden', id: 'message_image', multiple: true %>
      </label>
    </div>
    <%= f.submit 'Submit', class: 'form-submit' %>
  <% end %>
</div>
