<%= render "shared/header" %>

<div class="word-wrapper">
  <div class="word-title">
    <h2>Note Index</h2>
  </div>
  <div class="announcement">
    <h6>Record the keywords you've learned.</h6>
  </div>

    
    <div class="word-content">
      <div class="word-lists">
        
        <% @notes.each do |note| %>
            <%=link_to "□ #{note.word}", edit_note_path(note.id), class:"word-link" %><br>
        <% end %>
      </div>
    

    <%= form_with model: @note, local: true do |f| %>
      <div class="word-form">
        <h2 class="new-edit-word">new word</h2>
        <%= f.text_area :word, class:"word-field", id:"word-name", placeholder:" word ( Require, 40 characters maximum )", maxlength:"40" %>
        <%= f.text_area :word_kana, class:"word-field", id:"word-kana", placeholder:" kana ( Require )" %>
        <%= f.text_area :summary, class:"small-word-field", id:"word-summary", placeholder:" summary" %>
        <%= f.text_area :text, class:"large-word-field", id:"word-text", placeholder:" text" %>
        <%= f.text_area :reference, class:"small-word-field", id:"word-reference", placeholder:" reference" %>
        <%= f.submit "save" ,class:"save-word-btn" %>
      </div>
    <% end %>
  </div>

  
</div>
