<div class="contents row">
  <h2 class="sign">Sign <span class="up">up</span></h2>
  <div class="container">
    
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>

      <div class="sign_up_form">
        <div class="field">
          <%= f.label :nickname, class:"user-label" %>
          <%= f.text_field :nickname, maxlength: "10", class:"user_info" %>
        </div>

        <div class="field">
          <%= f.label :email, class:"user-label" %>
          <%= f.email_field :email, class:"user_info" %>
        </div>

        <div class="field">
          <%= f.label :password, class:"user-label" %>
          <%= f.password_field :password, autocomplete: "off", class:"user_info" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class:"user-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"user_info" %>
        </div>

        <div class="field">
          <%= f.label :name, class:"user-label" %>
          <%= f.text_field :name, class:"user_info" %>
        </div>

        <div class="field"> 
          <%= f.label :affiliation, class:"user-label" %>
          <%= f.text_field :affiliation, class:"user_info" %>
        </div>

        <div class="actions">
          <%= f.submit "sign up", class:"sign-up-in" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
