<header>
  <div class="heading">
    <h1><%=link_to 'Support Lab', root_path, class:"header-title" %></h1>
  </div>
  <div class="navbar">
    <ul class="nav-lists">
      <%=link_to 'Note', notes_path, class:"header-list" %>
      <%=link_to 'Idea', "#", class:"header-list" %>
      <%=link_to 'Chat', rooms_path, class:"header-list" %>
      <%=link_to 'Experiment', experiments_path, class:"header-list" %>
      <%=link_to 'Schedule', schedules_path, class:"header-list" %>
    </ul>
  </div>
  <div class="user-icon">
  </div>
</header>