<header>
  <div class="heading">
    <h1 class="header-title">Support Lab</h1>
  </div>
  <div class="navbar">
    <ul class="nav-lists">
      <%=link_to 'Note', notes_path, class:"header-list" %>
      <%=link_to 'Idea', "#", class:"header-list" %>
      <%=link_to 'Chat', "#", class:"header-list" %>
      <%=link_to 'Experiment', "#", class:"header-list" %>
      <%=link_to 'Schedule', "#", class:"header-list" %>
    </ul>
  </div>
  <div class="user-icon">
  </div>
</header>