<%= render "shared/header" %>

<div class="ex-wrapper">
  <div class="ex-title">
    <h2>Experiment</h2>
  </div>
  <div class="ex-announcement">
    <h6>Keep a record of your experiments.</h6>
  </div>
    
    <div class="ex-content">
      <%= form_with model: @experiment, local: true do |f| %>
        <div class="ex-form">
          <h2 class="ex-new-edit-word">ー 実験内容 ー</h2>

          <%= render 'shared/error_messages', model: f.object %>

          <div class="upper-content">
            <%= f.label "実験日時", class: 'datetime-label' %>
            <%= f.datetime_field :datetime, class: 'datetime-field' %>
            <%= f.label "温度", class: 'upper-label' %>
            <%= f.text_field :temperature, class:"ex-info-field", id:"ex-info1", style:"vertical-align: middle" %><%= " ℃" %>
            <%= f.label "湿度", class: 'upper-label' %>
            <%= f.text_field :humidity, class:"ex-info-field", id:"ex-info2", style:"vertical-align: middle" %><%= " %" %>
            <%= f.label "天候", class: 'upper-label' %>
            <%= f.collection_select(:weather_id, Weather.all, :id, :name, {}, {class:"ex-select-box", id:"weather-status"}) %>
          </div>

          <div class="lower-content">
            <%= f.label "メンバー", class: 'lower-label' %>
            <%= f.text_field :member, class:"ex-member-field", id:"ex-member" %>
            <%= f.label "タイトル", class: 'lower-label' %>
            <%= f.text_field :title, class:"ex-member-field", id:"ex-title" %>
            <%= f.label "目的", class: 'lower-label' %>
            <%= f.text_area :purpose, class:"ex-small-field", id:"purpose" %>
            <%= f.label "実験方法", class: 'lower-label' %>
            <%= f.text_area :experimental_method, class:"ex-large-field", id:"method" %>
            <div class="condition-all-label">
              <%= f.label "条件（固定）", class: 'condition-label' %>
              <%= f.label "条件（可変）", class: 'condition-label' %>
            </div>

            <div class="condition">
              <%= f.text_area :condition1, class:"condition-field", id:"condition1" %>
              <%= f.text_area :condition2, class:"condition-field", id:"condition2" %>
            </div>
            <%= f.label "結果", class: 'lower-label, ex-label' %> 
            <%= f.text_area :result, class:"ex-large-field", id:"result" %>
            <%= f.label "考察", class: 'lower-label, ex-label' %>
            <%= f.text_area :consideration, class:"ex-large-field", id:"consideration" %>
            <%= f.label "備考", class: 'lower-label, ex-label' %>
            <%= f.text_area :note, class:"ex-small-field", id:"note" %>
          </div>
          <%= f.submit "保存" ,class:"ex-save-btn" %>
        </div>
      <% end %>
    </div>
  </div> 
</div>