<div class="contents row">
  <h2 class="sign">Sign <span class="in">in</span></h2>
  <div class="container">

    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>

      <div class="sign_in_form">
        <div class="field">
          <%= f.label :email, class:"user-label" %>
          <%= f.email_field :email, class:"user_info" %>
        </div>

        <div class="field">
          <%= f.label :password, class:"user-label" %>
          <%= f.password_field :password, autocomplete: "off", class:"user_info" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign in", class:"sign-up-in" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
